* {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-brand {
    font-size: 24px; 
    font-weight: bold; 
    line-height: 1.5;
    width: 50px;
    margin-left: 20px;
}

.img-carousel {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

h2 {
    font-size: 54px;
    font-weight: 600;
}

.carousel-caption {
    background-color: rgba(94, 0, 122, 0.212); 
    padding: 10px; 
    border-radius: 10px; 
    text-align: center; 
    position: absolute; 
    bottom: 100px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 90%;
}

.carousel-caption h5 {
    font-size: 30px; 
    color: white; 
}

.lead p {
    font-size: 18px;
    font-weight: 600;
}

.lead b {
    font-weight: bold;
}

#nosso-time {
    text-align: center;
    padding: 20px;
}

.team-member  {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
}

.mt-3 {
    font-weight: 700;
}

.col-md-4 {
    padding: 10px;
}

.col-md-4 p{
    font-weight: bold;
}

.linkdin-icon {
    border-radius: 10px;
    font-size: 26px;
}

.linkdin-icon:hover {
    background-color: #ffffff;
}

.text-produtos {
    font-size: 24px; 
    font-weight: bold; 
    line-height: 1.5;
}
.card {
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 450px; 
    object-fit: cover;
    transition: transform 0.3s;
}

.card-img-top:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card-body {
    background: rgba(38, 0, 255, 0.404);
    padding: 30px;
    text-align: center; 
}

.btn-warning:hover {
    background-color: #000000c2;
    transition: 0.4s ease-in-out;
    color: #ffae00;
}

.social-links a {
    text-decoration: none;
    padding: 5px;
}

.social-links svg {
    border-radius: 6px;
    margin-top: 10px;
}

.social-links svg:hover {
    background-color: #ffffff;
}

.social-links p {
    margin-top: 100px;
    font-weight: 100;
    font-size: 12px;
}

@media  (max-width: 769px) {

    .img-carousel {
        height: 350px;
    }

    .carousel-caption h5 {
        font-size: 20px;
    }

    .carousel-caption {
        bottom: 40px;
    }
}





















    