
.navbar-brand {
    font-size: 24px; 
    font-weight: bold; 
    line-height: 1.5;
    width: 50px;
}

.img-carousel{
    width: 100%;
    height: 650px;
    object-fit: cover;
  
}

h2{
    font-size: 54px;
    color: #303030;
    font-weight: 600;
}

.carousel-caption {
    background-color: rgba(195, 0, 255, 0.281); 
    padding: 10px; 
    border-radius: 10px; 
    text-align: center; 
    position: absolute; 
    bottom: 100px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 90%; 
}

.carousel-caption h5 {
    font-size: 30px; 
    color: black; 
    
}
.col-md-4 {
    text-align: center; 
}


.team-member  {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
}

.text-produtos{
    font-size: 24px; 
    font-weight: bold; 
    line-height: 1.5;
}
.card {
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 450px; 
    object-fit: cover;
    transition: transform 0.3s;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

.card-body {
    background: rgba(111, 0, 255, 0.445);;
    padding: 5px;
    text-align: center; 
}





















    